<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/practica2final?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">caradepapa</property>
    <mapping resource="com/escom/practica2/modelo/Examen.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Carrera.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Alumno.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Pregunta.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Profesor.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Respuesta.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Centrotrabajo.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Materia.hbm.xml"/>
    <mapping resource="com/escom/practica2/modelo/Calificacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
